.filesTableSpace {
    width: 100%;
}

.filesTable {
    width: 100%;
    max-width: 1500px;
    border: 0.1px solid #dddddd !important;
}

.ant-table-title {
    border-bottom: 0.1px solid #dddddd;
    background: linear-gradient(to bottom, #ffffff, #f3f4f6) !important;
}

.ant-table-tbody {
    border: 1px solid #bbbbbb !important
}

.ant-table-cell {
    color: #9CA3AF;
    font-family: IBMPlexMono;

    .fileTableFileName {
        color: #000000;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline
    }
}

.filesTableSpace {
    width: 100%;
}

.isAFolderIcon {
    font-size: 16px;

    &.folderFilled {
        color: rgb(96, 165, 250);
    }
}


.lastModified {
    padding-right: 14px !important;
}

.lastModifiedInformation {
    color: #9CA3AF;
    font-family: IBMPlexMono;
}

.ant-table-cell-row-hover {
    background-color: #f4f7fc !important;
}