.modelIcon {
    width: 16px;
    height: 16px;

    .colorful & {
        #a1 {
            fill: #ADAFD5;
        }

        #a2 {
            fill: #5356D1;
        }

        #a3 {
            fill: #D2D3F7;
        }

    }
}