.markdown h1 {
    font-size: 42px;
}

.markdown h2 {
    font-size: 37px;
}

.markdown h3 {
    font-size: 32px;
}

.markdown h4 {
    font-size: 27px;
}

.markdown h5 {
    font-size: 22px;
}

.markdown {
    font-size: 15px;
    line-height: 1.5;
}

.markdownNavbar {
    position: sticky;
    top: 5px;
}