.fontSize20 {
    font-size: 20px !important;
}

.listHeader {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.inputStyle {
    /* min-width: 300px; */
    width: 350px;
}

.dropdownStyle {
    margin-left: auto;
    margin-right: 10
}