.itemCard {
    margin: 0px;
    background: linear-gradient(to right, #F9FAFB, #ffffff);
    height: 70px;
    border: solid 0.8px rgb(235, 235, 235);
    border-radius: 8px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        background: linear-gradient(to right, #fcfdfe, #f5f6f7) !important;

        .modelIcon {
            #a3 {
                fill: #D2D3F7;
            }

            #a1 {
                fill: #ADAFD5;
            }

            #a2 {
                fill: #5356D1;
            }
        }
    }

}

.itemTitle {
    font-family: IBMPlexMono;
    font-size: 16px;
    display: flex;

    .modelListItemCard:hover & {
        color: rgb(59, 130, 246);
    }
}

.itemDescription {
    color: rgb(150, 150, 150);
}

.itemTag {
    font-size: 10px !important;
    line-height: 18px;
    padding: 0 6px;
}